<div class="about">
    <h1>Dobrodošli u CineStar! Vaša filmska zvezda!</h1>
  
    <h1>Smešteni na adresi Cetinjska 16, u samom centru gradskih dešavanja, CineStar vam donosi najnovije svetske hitove i premium bioskopsko iskustvo! Očekuje vas najsavremenija tehnologija projekcije, kristalno čist zvuk, luksuzna sedišta i atmosfera koja svaki film pretvara u spektakl.</h1>
  
    <h3>
      <i class="fa-solid fa-ticket"></i> Iskoristite naše sjajne cene, članske popuste i posebne akcije za sve generacije!
    </h3>
    <h3>
      <i class="fas fa-hamburger"></i> Uživajte u širokom izboru svežih kokica, grickalica i osvežavajućih pića za potpuni doživljaj.
    </h3>
  
    <h1>Zakoračite u svet filma sa CineStar-om – gde svaka projekcija sija! Čekamo vas!</h1>
  
  </div>
  