
<div *ngIf="error" class="container">
  <mat-card class="loading" appearance="outlined" color="red">
    <mat-card-content>
      <h1>Oops i did again</h1>
      <p style="color: red;">{{error}}</p>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="movies" class = "container">
    <mat-card class="example-card" appearance="outlined" *ngFor=" let movie of movies">
      
      <img class="slika" src="{{movie.poster}}" alt="{{movie.title}}" [alt]="movie.title"/>
        <mat-card-content>
         <h1> {{movie.title}}</h1>
         <p>Movie Starts: {{utils.formatDate(movie.startDate)}} </p>
         <p>{{movie.shortDescription}} </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/projekcija']"><i class="fa-solid fa-up-right-from-square"></i> Details</a>
          <button mat-button [routerLink]="['/projekcija/'+movie.movieId+'/order']">
            <i class="fa-solid fa-ticket"></i> Buy ticket
          </button>
        </mat-card-actions>
      </mat-card>

    

  <!--  <p *ngFor=" let movie of movies">{{movie.movieId}} {{movie.title}} {{movie.director.name}}</p>
    <pre>{{movies | json}}</pre> -->
</div>


<app-loading *ngIf="!movies && !error"/>
